<h1>Notes for <%= link_to @book.title, @book %></h1>
<% if @chapter %>
  <h2><%= link_to "Chapter #{@chapter.position} - #{@chapter.title}", [@book, @chapter] %></h2>
<% end %>
<br>

<% if @notes.empty? %>
  <p>There are currently no notes for this <% if @chapter %>chapter<% else %>book<% end %>.</p>
<% end %>
<%= render @notes %>