<%= form_for [@book, @chapter, @note, @comment] do |f| %>
  <div class="comment_form">
    <strong>Comment on this note (Markdown enabled)</strong>

    <p>
      <%= f.text_area :text, :rows => 5 %>
    </p>

  </div>
  <p>
    <%= f.submit "Leave Comment" %>
  </p>
<% end %>
