<%= render :partial => "notes/button", :locals => { :element => element } %>
<%= raw(element.content) %>
<div id='notes_container_<%= element.xml_id %>' class='notes_container' style='display:none'>

</div>
