<%= render :partial => "notes/button", :locals => { :element => element } %>
<a name='<%= element.nickname %>'></a>
<%= raw(element.content) %>
<div id='notes_container_<%= element.nickname %>' class='notes_container' style='display:none'>

</div>
