<%= render :partial => "notes/button", :locals => { :element => element } %>
<a name='<%= element.identity %>'></a>
<%= raw(element.content) %>
<div id='notes_container_<%= element.identity %>' class='notes_container' style='display:none'>

</div>
