<% image = @chapter.images.find_by(image_file_name: File.basename(element.content)) %>

<div class='image'>
  <a name='<%= element.nickname %>'></a>
  <% if image %>
    <%= image_tag image.image.url %>
    <div class='title'>
      <%= image.figure_title %>
    </div>
  <% else %>
    <div class='missing_image'>
      MISSING IMAGE FOR <%= element.content %>
    </div>
  <% end %>
</div>
