<strong>Hello!</strong>

<p><%= @comment.user.email %> just left a comment on <%= link_to "Note ##{@note.number}", book_note_url(@book, @note) %> for <%= @book.title %>:</p>

<%= markdown(@comment.text) %> 

<p>Love,<br>
The Twist Bot.</p>
