<p class='review_note'>
  <strong>#<%= note.number %></strong> <%= link_to strip_tags(markdown(note.comments.first.text)).html_safe, [@book, @chapter, note] %><br>
  <small>By <%= note.user.try(:email) || "[deleted]" %></small>
</p>
