<% partial = render('accounts/notes/form') %>
container = $('#notes_container_<%= params[:element_id] %>');
container.toggle();
container.html(<%= raw(partial.inspect) %>);
<% if !@notes.empty? %>
  container.append("<h4>Previous Notes</h4>");
  container.append(<%= raw(render(@notes).inspect) %>);
  container.append("<hr>")
<% end %>

