<p>
  You have been invited to join the <%= @invitation.account.name %> account on Twist.
</p>

<p>
  Twist is a review tool which is used to review in-progress books.
</p>

<p>
  <% accept_url = accept_invitation_url(
    @invitation,
    subdomain: @invitation.account.subdomain
  ) %>
  Accept the invitation here: <%= link_to accept_url, accept_url %>
</p>
