<p>
  You have been invited to join the <%= @account.name %> account on Twist.
</p>

<p>
  <% accept_url = accept_invitation_url(
    @invitation,
    subdomain: @account.subdomain
  ) %>
  <%= link_to "Accept Invitation", accept_url %>
</p>
