<div class='row'>
  <div class='col-md-offset-3 col-md-6'>
    <div class='content'>
      <h2>Choose a plan</h2>

      <% if current_account.subscribed? %>
        <%= render "plan_switcher" %>
      <% else %>
        <%= render "plan_picker" %>
      <% end %>
    </div>
    <hr>
    <div class='text-center text-danger'>
      <small>
        <%= link_to "Cancel your subscription",
          cancel_subscription_path, 
          method: :delete,
          data: {
            confirm: "Are you sure you would like to cancel your subscription?" 
          }
        %>
      </small>
    </div>
  </div>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
var clientToken = "<%= @client_token %>";

braintree.setup(clientToken, "dropin", {
  container: "payment-form"
});
</script>
