<div class='content col-md-8'>
  <% if user_signed_in? %>
    <h2>Pick an account</h2>
    <ul class="accounts">
      <% current_user.accounts.each do |account| %>
        <li>
          <%= link_to root_url(subdomain: account.subdomain) do %>
            <%= account.name %> (<%= account.subdomain %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <strong>
      <h3>Twist is a review tool that makes reviewing techncial books painless.</h3>
      <p>Sign ups will be open soon.</p>
    </strong>

    <% if signup_enabled? %>
      <%= link_to "Create a new account", new_account_path %>
    <% end %>

  <% end %>
</div>
