<div class='row'>
  <div class='col-md-7 content'>
    <h1>Welcome to Twist</h1>
    <% @books.each do |book| %>
      <h2><%= link_to book.title, book %></h2>
      <span class='blurb'><%= book.blurb %></span>
    <% end %>
  </div>

  <div id='sidebar' class='col-md-3'>
    <% if owner? %>
      <%= link_to "Add Book", new_book_path %>
    <% end %>
  </div>

  
</div>
