<div class='row'>
  <div class='col-md-7 content'>

    <h1><%= @book.title %></h1>
      <ol class='frontmatter'>
        <% @frontmatter.each do |chapter| %>
          <li><%= link_to chapter.title, [@book, chapter] %></li>
        <% end %>
      </ol>

      <hr>

      <ol class='chapters'>
        <% @mainmatter.each do |chapter| %>
          <li><%= link_to chapter.title, [@book, chapter] %></li>
        <% end %>
      </ol>
    </ol>
  </div>

  <div id='sidebar' class='col-md-3'>
    <%= link_to "All notes for this book", book_notes_path(@book) %>
  </div>
</div>
