@import "accounts";
@import "bootstrap";
@import "books";
@import "chapters";
@import "notes";
@import "highlights";

body {
  margin: 1% 2.5% 1% 2.5%;
  font: 12pt Roboto, 'Helvetica Neue';
  color: #444;
  background: #efefef;
}

hr {
  border-top: 1px solid #ddd;
}

.content {
  padding: 10px;
  background: white;
  border: 1px solid #dadada;
  border-radius: 3px;
}

.flash_notice {
  @extend .alert;
  @extend .alert-success;
}

.flash_alert {
  @extend .alert;
  @extend .alert-danger;
}
