/*= require "chapters" */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1% 2.5% 1% 2.5%;
  font: 14px 'Helvetica Neue';
  color: #444;
  background: #ddd;
}

h1, h2, h3 {
  font-family: Helvetica;
}

h2 {
  margin-top: 1em;
}

h3, h4 {
  margin-top: 0.75em;
}

a {
  color: #0074FF;
}

ol {
  margin-top: 1em;
  margin-left: 2em;
}

menu {
  width: 59%;
  margin-left: 4em;
  margin-right: 35%;
  padding: 10px;
}

.wrapper {
  background: white;
  margin: 1% 35% 0% 0%;
  border: 1px solid #AAA;
  margin-left: 4em;
  padding: 1.5em;
  -webkit-border-radius: 5px;
}

.full-page {
  margin: 1% 5%;
}

input[type="email"], input[type="password"], input[type="text"], textarea {
  margin-top: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 4px;
}

input[type="email"], input[type="password"], input[type="text"] {
  padding: 4px;
  font-size: 16px;
}

input[type="submit"] {
  font-size: 16px;
}

textarea {
  resize: none;
}

label {
  font: 14px Helvetica;
}

.flash {
  border-radius: 3px;
  background: #eee;
  padding: 10px;
  font-size: 125%;
  font-weight: bold;
}

#flash_notice {
  background: #b1df7b;
  color: black;
}

#flash_error, #flash_alert {
  background: #E64040;
  color: white;
}
