/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  margin: 1% 2.5% 1% 2.5%;
  font: 12pt Georgia;
}

.chapter {
  margin: 0% 35% 0% 0%;
}

p {
  font: 13pt/1.5 "Georgia";
}

p span.footnote, span.indexterm {
  display: none;
}

.example pre {
  background: #efefef;
  margin-left: 1em;
  padding-left: 1em;
  padding-top: 10px;
  margin-top: 5px;
  border: 2px solid #232323;
  font: 10pt "Inconsolata", Monaco, monospace;
}

pre {
  font: 10pt "Inconsolata", Monaco, monospace;
}

.example .title {
  font: 12pt Helvetica;
  font-weight: bold;
  margin-left: 0.85em;
  padding-left: 1em;
  background: #232323;
  color: white;
  padding: 5px;
}