/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  margin: 1% 2.5% 1% 2.5%;
  font: 12pt Georgia;
  color: #444;
  background: #ddd;
}


h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: Helvetica;
}

h2 {
  margin-top: 1em;
}

h3 {
  margin-top: 0.75em;
}

a {
  color: #0074FF;
}

.menu {
  float: right;
}
