// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.books {
  // Add the books class to your body tag
  // Then, place scoped styles here.
}