<p>Hello!</p>

<p>
  Thanks for volunteering to help review <em>Rails 3 in Action</em>. It's quite a big book, and so I don't expect you to review it all. Whatever you can do will help a lot, though!
</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<strong>After you've confirmed your account...</strong>

<p>
  You can start reviewing right away. Just pick a chapter and leave a note on whatever you think needs one. Don't worry about being too harsh, I've got a pretty thick skin.
</p>

<p>
  Thanks again!<br>
  Ryan Bigg
</p>
