<div class='row'>
  <div class='col-md-offset-3 col-md-6'>
    <div class='content'>
      <h3>Update details</h3>

      <p>
        Update your payment details by clicking the button below.
      </p>

      <%= form_tag update_payment_details_path, method: :put do %>
        <input type="hidden" id="email" value="<%= current_account.owner.email %>" />
        <%= submit_tag "Update Payment Details", class: "btn btn-primary", id: "payment-btn" %>
      <% end %>
    </div>
  </div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>
<%= javascript_include_tag "accounts/billing" %>
